/** 손글씨 필기 (숫자용) */
@font-face {
  font-family: "namuPark";
  src: url("fonts/나눔손글씨\ 나무정원.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/** 손글씨 필기 (숫자용) */
@font-face {
  font-family: "Diphylleia";
  src: url("fonts/Diphylleia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/** 손글씨 정자 (한글용) */
@font-face {
  font-family: "sehwa";
  src: url("fonts/나눔손글씨\ 세화체.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/** 고운돋움 */
@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('fonts/GowunDodum-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

/** 세종글꽃체 */
@font-face {
  font-family: 'SejongGeulggot';
  src: url('fonts/SejongGeulggot.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 공통 body 스타일 */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    /* background-color: #f8f9fa; */
    background-color: #fff9f9;
}

/* 전체 화면을 덮는 검은색 투명 배경 */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 투명 검은 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
  opacity: 1; /* 초기값 */
  transition: opacity 2s ease; /* 페이드아웃 애니메이션 */
}

/* 타이핑 효과 텍스트 */
.typing-effect {
  font-family: 'namuPark';
  font-size: 1.5em;
  color: white;
  text-align: center;
  line-height: 1.5;
  white-space: pre-wrap; /* 줄바꿈 허용 */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* intro 섹션 스타일 */
.intro {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    /* background-color: #fff; */
    position: relative;
}

.intro h1 {
    font-family: 'Batang', serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 10px;
    z-index: 10;
    position: relative;
}

.intro p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    z-index: 10;
    position: relative;
}

.intro .divider {
    width: 80%;
    height: 1px;
    background-color: hsl(0deg 0% 73.39%);
    margin: 15px 0;
    z-index: 10;
    position: relative;
}

.intro img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    z-index: 5;
}

.outro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.outro img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  z-index: 5;
}

.canvas-container {
    position: relative;
    display: inline-block;
    width: 90%; /* 이미지 크기와 동일하게 설정 */
    max-width: 600px;
    margin: 0 auto;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5; /* 이미지 위로 캔버스 배치 */
}

.thanksTo {
  font-family: 'GowunDodum-Regular';
}

/*section {*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*}*/
/* Swiper 및 갤러리 섹션 스타일 */
#gallery {
    padding: 20px;
}

header {
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border-bottom: 2px solid #0056b3;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

#countdown-section {
    margin: 20px 0;
}

#countdown {
    font-size: 18px;
    font-weight: bold;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    max-width: 100%;   /* 이미지가 슬라이드 영역을 넘지 않도록 조정 */
    max-height: 100%;  /* 세로 방향으로도 영역 초과 방지 */
    object-fit: contain; /* 비율을 유지하며 이미지를 맞춤 */
}

/* 썸네일 그리드 */
.thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.thumbnail-grid img {
    width: 100%;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnail-grid img:hover {
    border-color: #007bff;
}

/* QR 코드 섹션 */
#qr-code-section img {
    width: 150px;
    height: 150px;
}

.custom-pagination {
  position: relative; /* 내부 요소의 위치를 기준으로 조정 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  color: #666;
  width: 100%;
  max-width: 400px; /* 적절한 최대 너비 */
  margin: 0 auto;
}

.custom-pagination button {
  position: absolute; /* 버튼을 양 끝단에 고정 */
  top: 50%; /* 수직 가운데 정렬 */
  transform: translateY(-50%); /* 수직 정렬 보정 */
  background: none;
  border: none;
  cursor: pointer;
  /* font-size: 16px; */
  color: #666;
  transition: color 0.3s ease;
}

.custom-pagination .prev-slide {
  left: 0; /* 왼쪽 끝에 고정 */
  font-family: "Diphylleia";
  font-size: 1.5em;
}

.custom-pagination .next-slide {
  right: 0; /* 오른쪽 끝에 고정 */
  font-family: "Diphylleia";
  font-size: 1.5em;
}

.custom-pagination span {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  padding-top: 8px;
}

/* 히든 뮤직 섹션 스타일 */
.hidden-section {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.music-toggle {
    border: none; /* 테두리 제거 */
    cursor: pointer;
    padding: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* 원형 버튼 */
    display: flex;
    align-items: center; /* 버튼 내부 이미지 수직 중앙 정렬 */
    justify-content: center; /* 버튼 내부 이미지 수평 중앙 정렬 */
    outline: none; /* 포커스 테두리 제거 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 버튼 그림자 */
    transition: transform 0.2s, box-shadow 0.2s; /* 클릭/호버 애니메이션 */
}

.music-toggle:hover {
    transform: scale(1.1); /* 호버 시 확대 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 강조 */
}

.music-toggle:active {
    transform: scale(0.95); /* 클릭 시 축소 효과 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 감소 */
}

.music-toggle img {
    width: 100%; /* 이미지 크기 */
    height: 100%;
}

  /* 날짜 공지 섹션 스타일 */
  .date-announcement-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff6f6;
    transition: background-color 0.5s ease;
  }
  
  .date-text {
    text-align: center;
    opacity: 0; /* 초기 상태 */
    transform: translateY(50px); /* 초기 상태 */
    font-family: namuPark, serif;
  }
  
  .reveal-text {
    font-size: 8rem;
    color: #9f7fc4;
  }

  /** 달력 섹션 **/
  .calendar-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
    background-color: #fff9f9; /* 배경색 */
  }
  
  .calendar-title {
    font-family: Diphylleia, serif;
    font-size: 3.5rem;
    font-weight: normal;
    text-align: center;
    color: #111;
    margin-bottom: 3rem;
  }
  .calendar-date {
    font-size: 1.25rem;
    color: #666;
    text-align: center;    
  }

  .dayOfTheWeekTr th {
    font-family: Diphylleia, serif;
    font-weight: normal;
  }

  #calender-first-word {
    font-size: 2.25rem;
    font-family: sehwa;
  }

  #calender-second-word {
    font-size: 1.25rem;
    font-family: Diphylleia;
    opacity: 46%;
  }
  
  .calendar-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    text-align: center;
  }
  
  .calendar-table th, .calendar-table td {
    /* border: 1px solid #ddd; */
    width: 14.28%;
    height: 3rem;
    font-size: 1.2rem;
    vertical-align: middle;
  }
  
  .calendar-table th {
    font-weight: bold;
  }
  
  .calendar-table td {
    font-family: Diphylleia, sans-serif;
    font-size: 1rem;
    color: #111;
  }
  
  .calendar-table td.highlight {
    background-color: #FFD1DC; /* 강조 색상 */
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
  }
  
  .countdown-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
  }
  
  .countdown-box {
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .countdown-box .countdown-value {
    font-family: SejongGeulggot;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 3%;
  }
  
  .countdown-box .countdown-label {
    font-family: SejongGeulggot;
    font-size: 0.875rem;
    color: #999;
    text-transform: uppercase;
    margin-top: 0.25rem;
  }
  
  .countdown-message {
    text-align: center;
    font-size: 1.7em;
    color: #333;
    margin-top: 1rem;
    font-family: sehwa;
  }

  
  .calendar-line {
    border-top: 1px solid #ddd; /* 회색 선 */
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }


/* 연락하기 섹션 */
.contact-section {
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    background-color: #fff9f9;
}

/* 가족 박스 */
.family-box {
    background-color: #f5caca6b;
    padding: 0 10% 0 10%;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 15px;
    -webkit-tap-highlight-color: transparent; /* 터치 하이라이트 제거 */
}

.family-box .family-row {
    font-family: 'GowunDodum-Regular';
    font-size: 1.2rem;
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    flex-direction: column; /* 세로로 정렬 */
    margin: 10px 0;
}

.family-row p::after {
  content: '';
  display: inline-block;
  width: 100%; /* 한 줄이어도 justify 효과 적용 */
}

.family-box .family-row p {
  width: 100%;
  text-align: justify;
  margin-bottom: -25px;
}

.family-box .role {
    font-weight: bold;
    color: #666;
}

.family-box .name {
    font-weight: bold;
    color: #333;
}

.contact-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.contact-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #C6B0D8;
    color: white; /* 텍스트 흰색 */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px; /* 버튼 테두리 둥글게 */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-button .arrow {
  margin-left: 10px;
  font-size: 18px;
  color: #805686;
  transition: transform 0.3s ease;
}

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#family-list {
    margin-top: 20px;
    text-align: left;
}

.family-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.family-row:last-child {
    border-bottom: none;
}

.family-row span {
    font-size: 16px;
    color: #555;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-button {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.call-button {
    background-color: #4a4a4a;
    color: white;
    border: none;
}

.call-button:hover {
    background-color: #333;
}

.sms-button {
    background-color: #f7c6c6;
    color: white;
    border: none;
}

.sms-button:hover {
    background-color: #f3a9a9;
}







  .gallery-title {
    font-family: Diphylleia, serif;
    font-size: 3.5rem;
    font-weight: normal;
    text-align: center;
    color: #111;
    margin-bottom: 3rem;
  }

  .account-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* 요소 간 간격 */
    min-height: 50vh;
    background-color: rgb(255 242 245);
    padding-bottom: 20px; /* 아래쪽 패딩 추가 */
    transition: padding 0.3s ease; /* 패딩 변경 시 부드럽게 처리 */
  }
  
  .account-section h2 {
    text-align: center;
    margin-bottom: 10px;
    padding: 15%;
  }
  
  .account-section p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  
  .accordion-content {
      max-height: 0; /* 처음에는 닫힌 상태 */
      overflow: hidden; /* 내용이 튀어나오지 않도록 숨김 */
      transition: max-height 0.3s ease; /* 부드럽게 열고 닫히는 효과 */
      padding: 0 10px; /* 패딩 추가 */
  }

  .accordion-content.open {
      max-height: 200px; /* 최대 높이 설정 (필요 시 조정) */
      padding: 10px 10px; /* 열릴 때 패딩 추가 */
  }

  .accordion-button {
      width: 100%;
      margin-bottom: 10px;
      background-color: hwb(0deg 86.55% 0%); /* 버튼 색상 */
      color: #6f53a1;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-family: 'GowunDodum-Regular';
      font-size: 18px;
      font-weight: bold;
      transition: background-color 0.3s ease;
  }
  
  .account-info {
    margin-bottom: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
  }
  
  .bank-info {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f1f1f1; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .copy-button,
  .pay-button {
    background-color: #a0a0a0b5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
  }
  
  .pay-button {
    background-color: #ffe500;
  }

    /* Toast 기본 스타일 */
  .toast {
    display: flex;
    align-items: center;
    justify-content: center; /* 텍스트 수평 가운데 정렬 */
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 0 auto; /* 수평 정렬 */
    font-size: 14px;
    position: fixed;
    bottom: 20px; /* 화면 아래에 위치 */
    left: 50%; /* 화면 가운데 정렬 */
    transform: translateX(-50%); /* 가운데 정렬 보정 */
    opacity: 0;
    width: auto; /* 가로 길이 자동 조정 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    animation: slideInUp 3s ease-in-out forwards;
    text-align: center; /* 텍스트 정렬 */
  }

  /* 위로 나타나는 애니메이션 */
  @keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translate(-50%, 100px); /* 아래쪽에서 시작 */
    }
    10%, 90% {
        opacity: 1;
        transform: translate(-50%, 0); /* 중앙에 도달 */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0); /* 유지 */
    }
  }

/* 아래로 사라지는 애니메이션 */
@keyframes slideOutDown {
    0% {
        opacity: 1;
        transform: translate(-50%, 0); /* 중앙에 위치 */
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 100px); /* 아래로 사라짐 */
    }
}

  .toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }


  .kakao-share-container {
    text-align: center;
    margin-top: 20px;
}

.kakao-share-button {
    background-color: #ffe812;
    color: #333;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 80%;
    max-width: 400px;
}

.kakao-share-button:hover {
    background-color: #ffd600;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.kakao-share-button .arrow {
    font-size: 18px;
    color: #333;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.kakao-share-button:hover .arrow {
    transform: translateX(5px);
}
.url-copy-container {
  text-align: center;
  margin-top: 10px;
}

.url-copy-button {
  background-color: #4caf50; /* 초록색 배경 */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 80%;
  max-width: 400px;
}

.url-copy-button:hover {
  background-color: #45a049;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.url-copy-button .arrow {
  font-size: 18px;
  color: white;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.url-copy-button:hover .arrow {
    transform: translateX(5px);
}